* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body .layOut {
    padding: 0;
}

h1, h2, h3, h4, h5, nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
    font-weight: 500;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    padding-left: 0.7em;
    color: #0073d1;
}

h2 {
    color: #0073d1;
    padding-left: 1.35em;
}

header h2 {
    color: black;
    padding-bottom: 1em;
}

header .siteBranding {
    display: grid;
}

header .siteBranding .backgroundParam {
    background-image: url('./img/siteBranding-img_v2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header .siteBranding .logo {
    grid-row: 2;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 1.5em;
}

header .siteBranding .logo {
    text-decoration: none;
    color: #7cc4fa;
    font-size: 20px;
    font-weight: 500;
}

header .siteBranding .brandName {
    grid-row: 3;
}

header .socialMediaAccess {
    grid-row: 1;
    background-color: rgb(0, 0, 0);   
    display: grid; 
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header .socialMediaAccess .sMIcons {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5em 80px 
}

header .socialMediaAccess .sMIcons svg {
    max-width: 20px;
    max-height: 20px;
    color: aliceblue;
}

header .socialMediaAccess p {
    background-color: #0073d1;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 15px;
    margin: auto;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

header nav a {
    padding: 10px 0;
    text-decoration: none;
    color: aliceblue;
}

main .bS2 {
    background-color: gainsboro;
}

main {
    padding: 0;
}


main .brandServices article h2 {
    padding: 1.2em 1.35em;
}

main .brandServices article p {
    padding: 0em 2em 1em 2em;
}

main .brandServices article svg {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    padding: 0em 2em 1em 2em;
}

main .brandServices .bS2 h2 {
    text-align: end;
    padding-right: 2em;
}

main .brandServices .bS2 p {
    padding: 0 2em;
    padding-bottom: 1em;
}

main .brandServices .bS2 svg {
    padding: 0 2em;
    padding-bottom: 1.2em;
}

main .brandProduct {
    background-image: url('./img/bg-img-brandProduct_v3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

/* main .brandProduct h3, main .brandProduct h4{

} */

main .brandProduct p {
    margin-top: 5em;    
}

footer {
    /* background-color: black; */
}

footer h3 {
    text-align: center;
    padding: 2em 1em;
}

footer p {
    padding: 0 2em 1em 2em;
}

footer div:last-child p {
    padding-bottom: 2em;
}